<div id="<%= dom_id sunshine_hour %>" class="border-2 border-dashed border-red-400">
  <p class="my-5">
    <%= sunshine_hour.city %>, <%= sunshine_hour.country %>
  </p>

  
  
  <% hours_array = [sunshine_hour.jan, sunshine_hour.feb, sunshine_hour.mar, sunshine_hour.apr, sunshine_hour.may, sunshine_hour.jun, sunshine_hour.jul, sunshine_hour.aug, sunshine_hour.sep, sunshine_hour.oct, sunshine_hour.nov, sunshine_hour.dec] %>
  <% month_labels = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %>
  <% dataset = { "label": "Monthly Sunshine Hours", "backgroundColor": "transparent", "borderColor": "#3B82F6", "data": hours_array } %>
  <% data_value = { "labels": month_labels, "datasets": [dataset] }.to_json %>
  <canvas data-controller="chart" data-chart-data-value="<%= data_value %>"></canvas>
  
  <% if action_name != "show" %>
    <%= link_to "Show this sunshine hour", sunshine_hour, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this sunshine hour", edit_sunshine_hour_path(sunshine_hour), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
